<div class="modalcontainer">
  <div class="well well-sm" >
  <img src = "https://www.nwmissouri.edu/admissions/images/header/specific/laptop.jpg" alt ="image" class = "image-responsive" width="1345 " height="200">  
</div>
     


  <div class="row">
    <div class="col-sm-3">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/">About</a></li>
              <li ><a routerLink="/module"  >Modules</a></li>
              <li><a routerLink="/calendar" >Calendar</a></li>
              <li ><a routerLink="/syllabus" >Syllabus</a></li>
              <li><a routerLink="/anouncements">Announcements<span class="badge">13</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>
  <!-- <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
  <router-outlet name="popup"></router-outlet> -->

