/* make sidebar nav vertical */ 
@media (min-width: 768px) {
    .container .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: 100;
    }
    .sidebar-nav .navbar ul {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li a {
      padding-top: 18px;
      padding-bottom: 18px;
      background-color: rgb(39, 53, 15);
      color:white;

    }
  }
  .well  {
background-color: rgb(34, 46, 14);
color:white;
  }
  